body {
    margin-top: 50px;
    padding-left: 50px;

}
.cards contact {

    background: #fff;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    overflow: hidden;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.contact .icon{
    font-size: 5.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.3em;
}